*
{
	margin:0;
	padding: 0;

}

@import url (http://fonts.googleapis.com/css?family=Open+Sans:300);

body{
  background-color: #eaeaea;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 960px;
}

header {
  background-color: #FACC2E;
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

h1{
	font-size: 72px;
	text-align: center;
	color: turquoise;
	opacity: 0.7;
	text-shadow: 2px 2px 1px rgba(2, 2, 2, 0.64);

}

h2 {
	color: orange;
	font-size: 32px;
	padding: 10px;
}



.contenedor {
	/*background: url("../img/pixels.png") center;*/
	background-color: #708090;
	/*background-image:url('img/pixels.png');*/
	height: auto;
	font-family: 'Montserrat', sans-serif;
	padding: 10px  5px ;


}

#registro {
	font-family: "Montserrat",sans-serif;
}

#msg {
    color: #eaeaea;
    font-family: "lato", sans-serif;
    font-weight: 900 bold;
    text-align: center;
    font-size: 16px;
    margin-bottom: auto;

}
#check {
	margin: 10px;
	padding: 0, 40px;
	height: 480px;



}
#formulario {
	margin: 10px;
	padding: 0, 40px;
	height: 380px;
}







/*-----------------------Usuario - Contraseña Registro.HTML--------------*/

.input {
	color: black;
	font-family: 'Arial';
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;

}

.input input {
	border: 1px solid #EDEDED;
	border-radius: 4px;
	color: #333333;
	padding: 10px 5px 5px 40px;
	width: 150px;
	transition: 0.2s ease out;
}
.input input:focus {
		padding: 10px 5px 10px 10px;
		outline: 0;
		border-color: #ffd700;

}

.sexo {
	color: #000;
font-weight: 900 bold;
text-align: center;
font-size: 18px;
margin-bottom: auto;
}



/*-------------------BOTONES------------------*/




#ingresar {

	background-color: orange;
	border-color: #58D3F7;
	border-width: thin;
	color: #333333;
	font-size: 8px;
	margin: 10px;
	padding: 12px;
	text-decoration-color: blue;
	width: 90px;
			font-family: "Montserrat",sans-serif;
	-webkit-border-radiSus: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 12px #e3e2e2;
	-o-box-shadow: 3px 3px 12px #e3e2e2;
	-moz-box-shadow: 3px 3px 12px #e3e2e2;
	-ms-box-shadow: 3px 3px 12px #e3e2e2;
	box-shadow: 3px 3px 12px #e3e2e2;

}

#ingresar:hover {
	color: black;
	background-color: #FACC2E;
}

.boton{
		background-color: orange;
		color: #333333;
		font-size: 10px;
		font-family: "Montserrat",sans-serif;
		opacity: 0.9;
		margin: 20px;
		padding: 12px;
		width: 90px;
		text-decoration: none;
		-webkit-border-radiSus: 5px;
		-o-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;
		box-shadow: 3px 3px 12px #e3e2e2;
		text-shadow: NONE;

}

.boton:hover {
    background: #000;
    color: #fff;
}


footer {
    background-color: #FACC2E;
    text-align: center;
    font-size: 20px;
  	padding: 10px;
		width: 940px;
}


/*Estilos para smartphones*/

@media screen and (max-width: 384px) {
header {
      width: 384px;
      padding-bottom: 5px;
      padding-top: 10px;
    }

h1 {
    font-size: 32px;
		text-align: center;
}

body {
      width: 384px;
			height: 640px;
    }

#contenedor {
      left: 50px;
			height: 375px;
    }

footer {
      width: 364px;
			padding: 10px;
    }

}
