*
{
	margin:0;
	padding 0;

}

@import url (http://fonts.googleapis.com/css?family=Open+Sans:300);

body{
  background-color: #eaeaea;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0;
  width: 960px;
}


header {
  background-color: #FACC2E;
  text-align: center;
  font-size: 12px;
  padding: 2px;
}



h1{
	font-size: 72px;
	font-family:

}

footer {
    background-color: #FACC2E;
    text-align: center;
    font-size: 14px;
    padding: 20px 0 20px;
}

#contenido {
	background: url("../img/pixels.png") center bottom;
	/*background-color: #58D3F7;
	background-image:url('img/pixels.png');*/
  height: 320px;
  padding: 20px;
	color: #1C1C1C;
  font-family: 'Montserrat', sans-serif;
  width: 920px;
}

#formulario {

	padding-bottom: 40px;
	margin: 10px;


}

#ingresar {

	background-color: #F3F781;
	border-color: #58D3F7;
	border-width: thin;
	font-size: 8px;
	margin: 10px;
	text-decoration-color: blue;
	width: 200px;
}

#ingresar:hover {
	color: #000;
	background-color: #FACC2E;
}

#boton{
		color: #fff;
		padding: 12px;
		background-color: orange;
		opacity: 0.6;
		margin-top: 0px auto;
		width: 90px;
		text-decoration: none;
		-webkit-border-radiSus: 12px;
		-o-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		border-radius: 12px;

		-webkit-box-shadow: 3px 3px 12px #e3e2e2;
		-o-box-shadow: 3px 3px 12px #e3e2e2;
		-moz-box-shadow: 3px 3px 12px #e3e2e2;
		-ms-box-shadow: 3px 3px 12px #e3e2e2;
		box-shadow: 3px 3px 12px #e3e2e2;

}
